bayesian-optimization==1.1.0
beautifulsoup4==4.9.0
certifi==2019.11.28
chardet==3.0.4
coloredlogs==14.0
cycler==0.10.0
decorator==4.4.2
googledrivedownloader==0.4
h5py==2.10.0
humanfriendly==8.1
idna==2.9
imageio==2.8.0
isodate==0.6.0
joblib==0.14.1
kiwisolver==1.1.0
littleutils==0.2.2
llvmlite==0.31.0
matplotlib==3.2.0
networkx==2.4
numba==0.48.0
numpy==1.19.1
ogb==1.2.2
outdated==0.2.0
pandas==1.0.1
Pillow==7.0.0
plyfile==0.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
rdflib==4.2.2
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.0
six==1.14.0
soupsieve==2.0
termcolor==1.1.0
torch==1.4.0+cu100
torch-cluster==1.5.4
torch-geometric==1.4.3
torch-scatter==2.0.4
torch-sparse==0.6.1
torch-spline-conv==1.2.0
tqdm==4.43.0
urllib3==1.25.8
